<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/702bec0f-da4e-4b61-a1bf-f298e2ea1362/resourcegroups/myResourceGroup3/providers/Microsoft.Web/sites/Sellyourbook</ResourceId>
    <ResourceGroup>myResourceGroup3</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sellyourbook.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>sellyourbook.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Sellyourbook</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Sellyourbook</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:sellyourbookdbserver.database.windows.net,1433;Initial Catalog=Sellyourbook_db;User ID=mihailtanev@sellyourbookdbserver;Password=Mihail8401310041*" Name="Data Source=tcp:sellyourbookdbserver.database.windows.net,1433;Initial Catalog=Sellyourbook_db;User Id=mihailtanev@sellyourbookdbserver;Password=Mihail8401310041*" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SchoolBookApplication.Data.SchoolBookDbContext, SchoolBookApplication.Data" MigrationConfiguration="SchoolBookApplication.Data.Migrations.Configuration, SchoolBookApplication.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:sellyourbookdbserver.database.windows.net,1433;Initial Catalog=Sellyourbook_db;User Id=mihailtanev@sellyourbookdbserver;Password=Mihail8401310041*</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>